.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/darwin_arm64/LICENSE.txt
.terraform/modules/modules.json
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/darwin_arm64/terraform-provider-azurerm_v3.117.1_x5
